* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --header-height: 60px;
    --primary-color: #08b2f0;
}

body {
    background-color: white;
}
