.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
   
}

.loggin-btn{
    display: flex;
    position: relative;
    width: 100%;
}

.icon{
    position: absolute;
    top: 0;
    left: 63px;
    top: 22px;
    z-index: 2;
}