.wrapper{
    
}


.created-courses{
    margin-top: 30px;
    & h3{
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 20px;
    }
}
.course-list{
    display: flex;
    flex-wrap: wrap;
}



    /* Slider styles */
    .elearning-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  border-radius: 16px;
  background: linear-gradient(90deg, #7b2ff7, #00c6ff);
  color: white;
}

.elearning-text {
  flex: 1;
  padding-right: 20px;
}

.elearning-text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.elearning-text p {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.elearning-text button {
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.elearning-text button:hover {
  background: white;
  color: #7b2ff7;
}

.elearning-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.elearning-image img {
  max-width: 100%;
  height: auto;
}
