.wrapper {
    height: var(--header-height);
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    position: absolute;
    top: 0;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}


.auth-btns{
    display: flex;
}

.user-name{
    margin: 0 30px 0 0;
    font-weight: bold;
}