.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-option {
    width: 288px;
    height: 38px;
    transition: background-color 0.218s;
    bottom: 0;
    left: 0;
    border: none;
    background-color: white;
    border: 1px solid #dadce0;
    margin: 5px 0;
    border-radius: 1px;
    color: #3c4043;
}

.login-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 44px;
    padding: 0 15px;
    margin-top: 12px;
    border: 1px solid #dce0e3;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
}
