.chooses-wrapper{
    display: flex;
    flex-direction: column;
}


.form-result{
    display: flex;
    flex-direction: row;
}
.answer{
    width: 30px;
    height: 30px;
    border-radius: 150px;
    line-height: 30px;
    text-align: center;
    border: 1px solid grey;
    margin: 5px 10px;
    &:hover{
        background-color: #F4C531;
        cursor: pointer;
    }
}

.question-img{
    max-width: 100%;
}