// Đẹp mắt cho form đăng nhập
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    background: linear-gradient(135deg, #e0e7ff 0%, #f0fdfa 100%);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 50px 10px;
}



.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-bottom: 8px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 1rem;
    color: #374151;
    font-weight: bold;
}

.input {
    padding: 10px 14px;
    border: 1px solid #d1d5db;  
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    width: 350px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    transition: border 0.2s;
}
.input:focus {
    border: 1.5px solid #3b82f6;
}

form > *{
    margin-bottom: 20px;
}

.login-btn {
    width: 350px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(90deg, #3b82f6 0%, #2563eb 100%);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}
.login-btn:hover {
    background: linear-gradient(90deg, #2563eb 0%, #0ea5e9 100%);
}
.wrapper {
    margin-top: 60px;
}
